body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url('/static/Assets/slides/backgroundlogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.content-padding {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 180px);
}

h2 {
    margin-bottom: 20px;
}

.form-container {
    background: rgba(228, 209, 209, 0.7);
    backdrop-filter: blur(50px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.form-container .form-control {
    width: 100%;
    font-size: 0.9em;
}

.btn-custom-green {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-custom-green:hover {
    background-color: #218838;
}

.navbar {
    z-index: 10;
}

.navbar-logo {
    height: 50px; /* Puedes ajustar la altura según tus necesidades */
    width: auto; /* Esto mantendrá la proporción de la imagen */
}


.alert-container {
    margin-top: 20px;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.alert {
    display: none;
}
.alert.show {
    display: block;
}
